
.container{
    width:100%;
    margin:0;
}
.innerContainer{
    margin-left: 200px;
    margin-right: 30px;
}

.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.aroundFlex{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.handLeftPaddingAndTwentyRest{
    padding: 10px 50px 10px 100px;
}
.mainBGColor{
    background-color: #C1C1C1;
}
.orange{
    color:coral;
}